.title {
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-bottom: 50px;
}
/*
.grid-clear {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
*/
#grid-clear {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

#container {

    display: grid;
    justify-content: center;
    align-content: center;
    --size: ;
    height: 960px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(var(--size), calc(960px/(var(--size))));
    grid-template-rows: repeat(var(--size), calc(960px/var(--size)));


    

}


.grid-columns {
    
    border: 1px solid black;
    margin: 0, auto;

}


.grid-columns:hover {
    background-color: black;

}

