.title {
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin-bottom: 50px;
}

#button {
    display: flex;
    align-content: center;
    margin-bottom: 50px;
}
#container {

    display: flex;
    justify-content: center;
    --size: ;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);


}

.grid-columns {
    justify-content: center;
    border: 1px solid black;
    padding: 1em;
    text-align: center;


}

.grid-columns:hover {
    background-color: black;

}

